In [1]:
import pandas as pd
import numpy as np
import json
import pickle

Download link_annotated_text.jsonl  
https://www.kaggle.com/kenshoresearch/kensho-derived-wikimedia-data  

Run the following unless you have tons of memory:  
$ split -l 1000000 link_annotated_text.jsonl

Rename the files to  
0, 1, 2, 3,...

In [2]:
file_number = 5 #repeat this notebook for files [0, 1, 2, 3, 4, 5]

with open(f'{file_number}') as f:
    df = pd.DataFrame(json.loads(line) for line in f)
df

         page_id                                           sections
0       56933780  [{'name': 'Introduction', 'text': 'Sophia Rose...
1       56933781  [{'name': 'Introduction', 'text': 'Emyr Evans ...
2       56933797  [{'name': 'Background', 'text': 'Joseph Valéry...
3       56933814  [{'name': 'Introduction', 'text': 'East Buffal...
4       56933816  [{'name': 'Introduction', 'text': 'Milorad Mij...
5       56933828  [{'name': 'Introduction', 'text': 'Ridgeport i...
6       56933837  [{'name': 'Introduction', 'text': 'The 20th Fi...
7       56933910  [{'name': 'Introduction', 'text': 'The King's ...
8       56933915  [{'name': 'Introduction', 'text': 'Centerville...
9       56933978  [{'name': 'Introduction', 'text': 'John S. Tro...
10      56933979  [{'name': 'Introduction', 'text': 'Coal Valley...
11      56933980  [{'name': 'Introduction', 'text': 'The PostScr...
12      56933984  [{'name': 'Introduction', 'text': 'Barry Graha...
13      56934017  [{'name': 'Introduction', 'text': 'The L'Union...
14      56934032  [{'name': 'Introduction', 'text': 'The Hanapep...
15      56934107  [{'name': 'Introduction', 'text': 'Kyle Kashuv...
16      56934120  [{'name': 'Top Michigan news stories', 'text':...
17      56934131  [{'name': 'Introduction', 'text': ''Going My H...
18      56934153  [{'name': 'Introduction', 'text': 'The Parochi...
19      56934188  [{'name': 'Introduction', 'text': 'Mackey is a...
20      56934189  [{'name': 'Introduction', 'text': 'IVPN is a v...
21      56934193  [{'name': 'Introduction', 'text': 'Foldereid i...
22      56934194  [{'name': 'Introduction', 'text': 'Kolvereid i...
23      56934196  [{'name': 'Introduction', 'text': 'is a former...
24      56934197  [{'name': 'Introduction', 'text': 'Skatval is ...
25      56934226  [{'name': 'Introduction', 'text': 'Saint Tigri...
26      56934252  [{'name': 'Introduction', 'text': 'The Bathurs...
27      56934267  [{'name': 'Introduction', 'text': 'IBM code pa...
28      56934268  [{'name': 'Introduction', 'text': 'Agioi Theod...
29      56934269  [{'name': 'Introduction', 'text': 'The Nemio R...
...          ...                                                ...
343535  62469606  [{'name': 'Introduction', 'text': 'The Darmois...
343536  62469607  [{'name': 'Introduction', 'text': 'Mohammad Ba...
343537  62469647  [{'name': 'Introduction', 'text': 'James Louis...
343538  62469712  [{'name': 'Introduction', 'text': 'George Garl...
343539  62469737  [{'name': 'Introduction', 'text': ''Bullets fo...
343540  62469773  [{'name': 'Sweden', 'text': 'The principle of ...
343541  62469785  [{'name': 'Introduction', 'text': 'Shahar Moze...
343542  62469804  [{'name': 'Introduction', 'text': 'Daniel Osca...
343543  62469816  [{'name': 'Introduction', 'text': 'SNZ was a b...
343544  62469830  [{'name': 'Introduction', 'text': 'The Rollfix...
343545  62469837  [{'name': 'Introduction', 'text': ''The Great ...
343546  62469857  [{'name': 'Introduction', 'text': 'The Kac-Ber...
343547  62469895  [{'name': 'Introduction', 'text': ''Girl on a ...
343548  62469904  [{'name': 'Introduction', 'text': 'Anastasia V...
343549  62469942  [{'name': 'Introduction', 'text': ''Village Lo...
343550  62469970  [{'name': 'Introduction', 'text': ''Haymaking'...
343551  62469987  [{'name': 'Introduction', 'text': 'Kylie Moore...
343552  62469998  [{'name': 'Introduction', 'text': 'Gordon Edwi...
343553  62470001  [{'name': 'Introduction', 'text': 'James Danie...
343554  62470005  [{'name': 'Introduction', 'text': 'Lucy Anin (...
343555  62470047  [{'name': 'Introduction', 'text': ''Tie Vapaut...
343556  62470119  [{'name': 'Introduction', 'text': 'The Sumner ...
343557  62470164  [{'name': 'Introduction', 'text': 'is a Japane...
343558  62470176  [{'name': 'Introduction', 'text': 'Jorge Padil...
343559  62470255  [{'name': 'Introduction', 'text': 'Alfredo Gat...
343560  62470350  [{'name': 'Introduction', 'text': 'Daming Zhu ...
343561  62470423  [{'name': 'Introduction', 'text': 'Tony Oshey ...
343562  62470432  [{'name': 'Introduction', 'text': '(EC-PL20ZZB...
343563  62470465  [{'name': 'Introduction', 'text': 'Major Gener...
343564  62473330  [{'name': 'Introduction', 'text': 'Shibuya Cro...

[343565 rows x 2 columns]

In [3]:
#exports the text column with the assigned text_id

text = [col[0]['text'] for col in df['sections']]
index = df.index + file_number*1000000
df_text = pd.DataFrame(zip(index, text), columns = ['text_id', 'text']) 
df_text.to_csv(f"{file_number}_text.csv", index=False)

In [4]:
#generates the dictionary of entities for each text entry

def get_entities(loc, length, target, text):
    entities = {}
    for i, j, k in zip(loc, length, target):
        entities[text[i:i+j]] = k
    return entities

df['entities'] = [get_entities(col[0]['link_offsets'], col[0]['link_lengths'], col[0]['target_page_ids'], col[0]['text']) for col in df['sections']]
df['text_id'] = df_text['text_id']
df

,page_id,sections,entities,text_id
0,56933780,"[{'name': 'Introduction', 'text': 'Sophia Rose...","{'historian': 13575, 'the Enlightenment': 3075...",5000000
1,56933781,"[{'name': 'Introduction', 'text': 'Emyr Evans ...",{'2018 PSA World Tour': 56144539},5000001
2,56933797,"[{'name': 'Background', 'text': 'Joseph Valéry...","{'Bastia': 45433, 'Cap Corse': 7803274, 'Livor...",5000002
3,56933814,"[{'name': 'Introduction', 'text': 'East Buffal...","{'Mosquito Range': 1787725, 'Colorado': 5399, ...",5000003
4,56933816,"[{'name': 'Introduction', 'text': 'Milorad Mij...","{'National Assembly of Serbia': 619753, 'Socia...",5000004
...,...,...,...,...
343560,62470350,"[{'name': 'Introduction', 'text': 'Daming Zhu ...",{'Peking University School of Transnational La...,5343560
343561,62470423,"[{'name': 'Introduction', 'text': 'Tony Oshey ...","{'American': 3434750, 'football': 18951490, 'T...",5343561
343562,62470432,"[{'name': 'Introduction', 'text': '(EC-PL20ZZB...","{'digital': 52797, 'compact camera': 1140781, ...",5343562
343563,62470465,"[{'name': 'Introduction', 'text': 'Major Gener...","{'Major General': 1185281, 'Swedish Air Force'...",5343563
343564,62473330,"[{'name': 'Introduction', 'text': 'Shibuya Cro...","{'scramble crossing': 1156910, 'Shibuya': 1477...",5343564

In [5]:
#exports each entity pairing along with the text_id

iterations = 10
rows = len(df)//10


for i in np.arange(10):
    start = i*rows
    end = (i+1)*rows
    if end > len(df):
        end = len(df)
    
    print(f'processing indexes {start}:{end}')
    df_entities = [np.array([list(col[0].keys()), list(col[0].values()), np.repeat(col[1], len(col[0]))]) for col in zip(df.iloc[start:end]['entities'], df.iloc[start:end]['text_id'])]
    df_entities = np.concatenate(df_entities, axis=1)
    df_entities = pd.DataFrame(zip(df_entities[0], df_entities[1], df_entities[2]), columns = ['entity', 'page_id', 'text_id'])
    df_entities
    if i == 0:
        df_entities.to_csv(f"{file_number}_entities.csv", index=False)
    else:
        df_entities.to_csv(f'{file_number}_entities.csv', mode='a', header=False, index=False)

print(f'export complete')

processing indexes 0:34356
processing indexes 34356:68712
processing indexes 68712:103068
processing indexes 103068:137424
processing indexes 137424:171780
processing indexes 171780:206136
processing indexes 206136:240492
processing indexes 240492:274848
processing indexes 274848:309204
processing indexes 309204:343560
export complete

In [7]:
#run this after you've generated all the preceeding files

text_filenames = [f'{i}_text.csv' for i in np.arange(6)]
entities_filenames = [f'{i}_entities.csv' for i in np.arange(6)]

combined_csv = pd.concat([pd.read_csv(f) for f in text_filenames])
combined_csv.to_csv( "combined_text.csv", index=False)
display(combined_csv)

combined_csv = pd.concat([pd.read_csv(f) for f in entities_filenames])
combined_csv = combined_csv.dropna()
combined_csv.to_csv( "combined_entities.csv", index=False)
display(combined_csv)

        text_id                                               text
0             0  Anarchism is an anti-authoritarian political a...
1             1  Autism is a developmental disorder characteriz...
2             2  Albedo () (, meaning 'whiteness') is the measu...
3             3  A or a is the first letter and the first vowel...
4             4  Alabama () is a state in the southeastern regi...
...         ...                                                ...
343560  5343560  Daming Zhu is an Assistant Dean for Continuing...
343561  5343561  Tony Oshey Dews (born June 6, 1973) is an Amer...
343562  5343562  (EC-PL20ZZBPRUS) is an sleek design digital co...
343563  5343563  Major General Nils-Fredrik Palmstierna (8 Marc...
343564  5343564  Shibuya Crossing is a popular scramble crossin...

[5343565 rows x 2 columns]

                     entity   page_id  text_id
0        anti-authoritarian    867979        0
1                 political     23040        0
2         social philosophy    586276        0
3               hierarchies     13998        0
4              self-managed  40949353        0
...                     ...       ...      ...
1668440     Tomasa Tequiero  39519608  5343559
1668441       Sos mi hombre  39950100  5343559
1668442         Luis Gatica   2099374  5343559
1668443        Lucho Gatica   2112544  5343559
1668444       Mapita Cortés   2091936  5343559

[35196439 rows x 3 columns]

In [47]:
cleaned_single_entity = combined_csv.loc[~combined_csv['entity'].str.contains(' ')]
cleaned_single_entity.to_csv( "cleaned_single_entity.csv", index=False)
display(cleaned_single_entity)

                     entity   page_id  text_id
0        anti-authoritarian    867979        0
1                 political     23040        0
3               hierarchies     13998        0
4              self-managed  40949353        0
5             self-governed    191161        0
...                     ...       ...      ...
1668427              period     38203  5343557
1668428            webcomic    161176  5343557
1668431          footballer     10568  5343558
1668433             forward    428681  5343558
1668435            Televisa    763006  5343559

[14779842 rows x 3 columns]

Remove entities that don't return the correct page_id from the item dictionary

In [3]:
%%time
entity_df = pd.read_csv('combined_entities.csv')
entity_df

CPU times: user 15 s, sys: 1.31 s, total: 16.3 s
Wall time: 16.3 s

                      entity   page_id  text_id
0         anti-authoritarian    867979        0
1                  political     23040        0
2          social philosophy    586276        0
3                hierarchies     13998        0
4               self-managed  40949353        0
...                      ...       ...      ...
35196434     Tomasa Tequiero  39519608  5343559
35196435       Sos mi hombre  39950100  5343559
35196436         Luis Gatica   2099374  5343559
35196437        Lucho Gatica   2112544  5343559
35196438       Mapita Cortés   2091936  5343559

[35196439 rows x 3 columns]

In [2]:
page_df = pd.read_csv('page.csv')
page_dict = pd.Series(page_df.item_id.values,index=page_df.page_id).to_dict()
del(page_df)
page_dict[12] #6199

6199

In [4]:
entity_df['item_id'] = [page_dict.get(i) for i in entity_df.page_id]
entity_df

                      entity   page_id  text_id   item_id
0         anti-authoritarian    867979        0   1030234
1                  political     23040        0    179805
2          social philosophy    586276        0    180592
3                hierarchies     13998        0    188619
4               self-managed  40949353        0  15981562
...                      ...       ...      ...       ...
35196434     Tomasa Tequiero  39519608  5343559   6148330
35196435       Sos mi hombre  39950100  5343559   6132611
35196436         Luis Gatica   2099374  5343559   6316177
35196437        Lucho Gatica   2112544  5343559    954681
35196438       Mapita Cortés   2091936  5343559   3287238

[35196439 rows x 4 columns]

In [ ]:
entity_df[['entity','page_id','item_id','text_id']].to_csv("combined_entities_full.csv", index=False)

In [5]:
%%time
item_page_dict = pickle.load(open("item_dict_filtered.p", "rb"))
print(item_page_dict['page_id']['tesla'])

[935979, 5533631, 11894598, 735377, 1900331, 2654609, 25496822, 51769920, 21473, 42100593]
CPU times: user 13 s, sys: 1.48 s, total: 14.4 s
Wall time: 14.4 s

In [7]:
entity_df.entity = entity_df.entity.astype(str)

In [8]:
%%time
entity_df['page_id_list'] = [item_page_dict['page_id'].get(i.lower()) for i in entity_df.entity]
entity_df['item_id_list'] = [item_page_dict['item_id'].get(i.lower()) for i in entity_df.entity]
entity_df

CPU times: user 1min 3s, sys: 565 ms, total: 1min 3s
Wall time: 1min 3s

,entity,page_id,text_id,item_id,page_id_list,item_id_list
0,anti-authoritarian,867979,0,1030234,None,None
1,political,23040,0,179805,"[2652030, 50537112]","[7210176, 24234163]"
2,social philosophy,586276,0,180592,[586276],[180592]
3,hierarchies,13998,0,188619,None,None
4,self-managed,40949353,0,15981562,None,None
...,...,...,...,...,...,...
35196434,Tomasa Tequiero,39519608,5343559,6148330,[39519608],[6148330]
35196435,Sos mi hombre,39950100,5343559,6132611,[39950100],[6132611]
35196436,Luis Gatica,2099374,5343559,6316177,[2099374],[6316177]
35196437,Lucho Gatica,2112544,5343559,954681,[2112544],[954681]
35196438,Mapita Cortés,2091936,5343559,3287238,[2091936],[3287238]

In [9]:
entity_df.dropna(inplace=True)
entity_df

,entity,page_id,text_id,item_id,page_id_list,item_id_list
1,political,23040,0,179805,"[2652030, 50537112]","[7210176, 24234163]"
2,social philosophy,586276,0,180592,[586276],[180592]
6,cooperative,89313,0,4539,"[89313, 19973669]","[4539, 6047382]"
9,state,23604120,0,3624078,"[28151, 454959, 16198270, 8387071, 17402476, 4...","[7275, 2917249, 7602995, 7602996, 7602997, 169..."
10,far-left,18247344,0,1129409,[18247344],[1129409]
...,...,...,...,...,...,...
35196434,Tomasa Tequiero,39519608,5343559,6148330,[39519608],[6148330]
35196435,Sos mi hombre,39950100,5343559,6132611,[39950100],[6132611]
35196436,Luis Gatica,2099374,5343559,6316177,[2099374],[6316177]
35196437,Lucho Gatica,2112544,5343559,954681,[2112544],[954681]
35196438,Mapita Cortés,2091936,5343559,3287238,[2091936],[3287238]

In [12]:
%%time
entity_df["page exists"] = [np.isin(i, j) for i, j in zip(entity_df.page_id, entity_df.page_id_list)]
entity_df

,entity,page_id,text_id,item_id,page_id_list,item_id_list,page exists
1,political,23040,0,179805,"[2652030, 50537112]","[7210176, 24234163]",False
2,social philosophy,586276,0,180592,[586276],[180592],True
6,cooperative,89313,0,4539,"[89313, 19973669]","[4539, 6047382]",True
9,state,23604120,0,3624078,"[28151, 454959, 16198270, 8387071, 17402476, 4...","[7275, 2917249, 7602995, 7602996, 7602997, 169...",False
10,far-left,18247344,0,1129409,[18247344],[1129409],True
...,...,...,...,...,...,...,...
35196434,Tomasa Tequiero,39519608,5343559,6148330,[39519608],[6148330],True
35196435,Sos mi hombre,39950100,5343559,6132611,[39950100],[6132611],True
35196436,Luis Gatica,2099374,5343559,6316177,[2099374],[6316177],True
35196437,Lucho Gatica,2112544,5343559,954681,[2112544],[954681],True
35196438,Mapita Cortés,2091936,5343559,3287238,[2091936],[3287238],True

In [14]:
%%time
entity_df["item exists"] = [np.isin(i, j) for i, j in zip(entity_df.item_id, entity_df.item_id_list)]
entity_df

CPU times: user 8min 41s, sys: 3.91 s, total: 8min 45s
Wall time: 8min 45s

,entity,page_id,text_id,item_id,page_id_list,item_id_list,page exists,item exists
1,political,23040,0,179805,"[2652030, 50537112]","[7210176, 24234163]",False,False
2,social philosophy,586276,0,180592,[586276],[180592],True,True
6,cooperative,89313,0,4539,"[89313, 19973669]","[4539, 6047382]",True,True
9,state,23604120,0,3624078,"[28151, 454959, 16198270, 8387071, 17402476, 4...","[7275, 2917249, 7602995, 7602996, 7602997, 169...",False,False
10,far-left,18247344,0,1129409,[18247344],[1129409],True,True
...,...,...,...,...,...,...,...,...
35196434,Tomasa Tequiero,39519608,5343559,6148330,[39519608],[6148330],True,True
35196435,Sos mi hombre,39950100,5343559,6132611,[39950100],[6132611],True,True
35196436,Luis Gatica,2099374,5343559,6316177,[2099374],[6316177],True,True
35196437,Lucho Gatica,2112544,5343559,954681,[2112544],[954681],True,True
35196438,Mapita Cortés,2091936,5343559,3287238,[2091936],[3287238],True,True

In [16]:
entity_df_filtered = entity_df[entity_df['page exists'] == True].copy()
display(entity_df_filtered)
entity_df_filtered = entity_df_filtered[entity_df_filtered['item exists'] == True]
display(entity_df_filtered)
entity_df_filtered.drop(columns=['page_id_list', 'item_id_list', 'page exists', 'item exists'], inplace=True)
entity_df_filtered = entity_df_filtered[['entity','page_id','item_id','text_id']]
entity_df_filtered

,entity,page_id,text_id,item_id,page_id_list,item_id_list,page exists,item exists
2,social philosophy,586276,0,180592,[586276],[180592],True,True
6,cooperative,89313,0,4539,"[89313, 19973669]","[4539, 6047382]",True,True
10,far-left,18247344,0,1129409,[18247344],[1129409],True,True
11,political spectrum,23490,0,210918,[23490],[210918],True,True
15,collectivism,5708,0,237789,"[5708, 2321651]","[237789, 6159142]",True,True
...,...,...,...,...,...,...,...,...
35196434,Tomasa Tequiero,39519608,5343559,6148330,[39519608],[6148330],True,True
35196435,Sos mi hombre,39950100,5343559,6132611,[39950100],[6132611],True,True
35196436,Luis Gatica,2099374,5343559,6316177,[2099374],[6316177],True,True
35196437,Lucho Gatica,2112544,5343559,954681,[2112544],[954681],True,True
35196438,Mapita Cortés,2091936,5343559,3287238,[2091936],[3287238],True,True

,entity,page_id,text_id,item_id,page_id_list,item_id_list,page exists,item exists
2,social philosophy,586276,0,180592,[586276],[180592],True,True
6,cooperative,89313,0,4539,"[89313, 19973669]","[4539, 6047382]",True,True
10,far-left,18247344,0,1129409,[18247344],[1129409],True,True
11,political spectrum,23490,0,210918,[23490],[210918],True,True
15,collectivism,5708,0,237789,"[5708, 2321651]","[237789, 6159142]",True,True
...,...,...,...,...,...,...,...,...
35196434,Tomasa Tequiero,39519608,5343559,6148330,[39519608],[6148330],True,True
35196435,Sos mi hombre,39950100,5343559,6132611,[39950100],[6132611],True,True
35196436,Luis Gatica,2099374,5343559,6316177,[2099374],[6316177],True,True
35196437,Lucho Gatica,2112544,5343559,954681,[2112544],[954681],True,True
35196438,Mapita Cortés,2091936,5343559,3287238,[2091936],[3287238],True,True

                      entity   page_id  item_id  text_id
2          social philosophy    586276   180592        0
6                cooperative     89313     4539        0
10                  far-left  18247344  1129409        0
11        political spectrum     23490   210918        0
15              collectivism      5708   237789        0
...                      ...       ...      ...      ...
35196434     Tomasa Tequiero  39519608  6148330  5343559
35196435       Sos mi hombre  39950100  6132611  5343559
35196436         Luis Gatica   2099374  6316177  5343559
35196437        Lucho Gatica   2112544   954681  5343559
35196438       Mapita Cortés   2091936  3287238  5343559

[26712757 rows x 4 columns]

In [17]:
entity_df_filtered.to_csv("combined_entities_filtered.csv", index=False)