In [191]:
import pandas as pd
import numpy as np
import pickle
import re

import nltk
from nltk import tokenize
import spacy

nltk.download('punkt')
# python -m spacy download en_core_web_lg
nlp = spacy.load("en_core_web_lg")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
%%time
text_df = pd.read_csv('combined_text.csv')
text_df.set_index('text_id', inplace = True)
text_df.head()

Wall time: 30.1 s

                                                      text
text_id
0        Anarchism is an anti-authoritarian political a...
1        Autism is a developmental disorder characteriz...
2        Albedo () (, meaning 'whiteness') is the measu...
3        A or a is the first letter and the first vowel...
4        Alabama () is a state in the southeastern regi...

In [3]:
%%time
entity_df = pd.read_csv('combined_entities.csv')
entity_df.head()

Wall time: 21.4 s

               entity   page_id  text_id
0  anti-authoritarian    867979        0
1           political     23040        0
2   social philosophy    586276        0
3         hierarchies     13998        0
4        self-managed  40949353        0

In [4]:
%%time
item_dict = pickle.load(open("item_dict.p", "rb"))
print(item_dict['tesla'])

[9036, 163343, 478214, 765530, 1050485, 1428953, 1548225, 2384079, 2406220, 7705502, 16258100, 19565583, 27701406, 31803712, 37251206, 56084926]
Wall time: 1min 35s

In [316]:
def get_item_ids(entities):
    if type(entities) == np.ndarray or type(entities) == list:
        return [item_dict.get(i.lower(), []) for i in entities]
    elif type(entities) == str:
        return item_dict.get(entities.lower(), [])
    else:
        return item_dict.get(entities, [])

print(get_item_ids('tesla'))

[9036, 163343, 478214, 765530, 1050485, 1428953, 1548225, 2384079, 2406220, 7705502, 16258100, 19565583, 27701406, 31803712, 37251206, 56084926]

In [317]:
# Much faster than sampling using Pandas

def get_samples(n, dataframe):
    idx = np.random.randint(len(dataframe), size=n)
    return dataframe.iloc[idx,:].to_numpy()

samples = get_samples(10, entity_df)
samples

array([['Charles W. Sweeney', 839581, 1763442],
       ['Southern Nevada', 22216509, 627246],
       ['National Basketball Association', 22093, 551260],
       ['Erebidae', 27888690, 2364745],
       ['BMX rider', 38103, 3654846],
       ['Travel Channel (UK)', 5433720, 2455898],
       ['Deerfield, Wisconsin', 260370, 4298627],
       ['moth', 66633, 4262315],
       ['diagnostic tool', 19013767, 403672],
       ['Hong Kong General Chamber of Commerce', 18058884, 4083316]],
      dtype=object)

In [318]:
def get_sentence(row):
    entity, page_id, text_id = row
    text = text_df.iat[text_id, 0]
    for line in tokenize.sent_tokenize(text): #re.split(r"(?<=[.])\s(?![a-z])", text):
        if entity in line:
            idx = line.find(entity)
            sentence = line[:idx] + line[idx+len(entity):]
            break
    entity_list = pd.unique([entity.lower()] + [i.text.lower() for i in nlp(sentence).ents])
    entity_id_list = get_item_ids(entity_list)
    return line, entity_id_list, entity_list, (entity, page_id)
    
sentences = [get_sentence(i) for i in samples]
sentences

[("On 9 August 1945, Bockscar, piloted by the 393d Bombardment Squadron's commander, Major Charles W. Sweeney, dropped a Fat Man nuclear bomb with a blast yield equivalent to 21 kilotons of TNT over the city of Nagasaki.",
  [[241128],
   [69276951],
   [697041],
   [],
   [239243,
    613617,
    702497,
    983927,
    1259251,
    2086011,
    4671286,
    4679633,
    4896145,
    6737995,
    6738003,
    6738004,
    6738009,
    7749682,
    11247470,
    11707054,
    13232557,
    13553889,
    16932055,
    16981612,
    18108359,
    19902046,
    20648870,
    21708176,
    27734840,
    28119893,
    35456557,
    48965718,
    55569052,
    58795659,
    60793902],
   [188163, 5501204],
   [],
   [170167,
    217939,
    688333,
    1105744,
    1654486,
    1756975,
    1757582,
    1975145,
    2335168,
    2376657,
    3324385,
    3979388,
    4050821,
    7670914,
    7670915,
    7670916,
    7670918,
    7670919,
    7810784,
    9358880,
    10376726,
    12741878,
    15648601,
    18032050,
    18052513,
    18216013,
    18255069,
    18255070,
    24380627,
    24772268,
    29709130,
    29721425,
    54862382,
    65063404,
    67216563],
   [38234,
    1075919,
    1696900,
    2596902,
    11534323,
    11652305,
    16387240,
    26229914,
    48980828]],
  array(['charles w. sweeney', '9 august 1945', 'bockscar',
         "the 393d bombardment squadron's", 'major', 'fat man',
         '21 kilotons', 'tnt', 'nagasaki'], dtype=object),
  ('Charles W. Sweeney', 839581)),
 ('The Las Vegas Convention and Visitors Authority (LVCVA) is a government agency and the official destination marketing organization for Southern Nevada.',
  [[7570176], []],
  array(['southern nevada',
         'the las vegas convention and visitors authority'], dtype=object),
  ('Southern Nevada', 22216509)),
 ('He had brief stints in the National Basketball Association (NBA) with the Memphis Grizzlies and the New Jersey Nets after being selected in the second round of the 2004 NBA draft.',
  [[155223, 6635226],
   [155223,
    1162546,
    3874050,
    17062168,
    19383467,
    28549987,
    29717101,
    57010655,
    60768275],
   [],
   [],
   [11574,
    636099,
    786916,
    829073,
    7443004,
    9075390,
    10664978,
    16920658,
    18615351,
    20746183,
    21923414,
    27906858,
    28469712,
    30598020,
    62021819],
   [2014,
    906911,
    9130658,
    10397199,
    13146621,
    27941903,
    28863971,
    39073300,
    54583040]],
  array(['national basketball association', 'nba', 'the memphis grizzlies',
         'the new jersey nets', 'second', '2004'], dtype=object),
  ('National Basketball Association', 22093)),
 ("'Thysanoprymna' is a genus of moths in the family Erebidae.",
  [[2068481], [2366322], [1725788, 51507103]],
  array(['erebidae', 'thysanoprymna', 'moths'], dtype=object),
  ('Erebidae', 27888690)),
 ('Robert Lewis Osborn (born April 9, 1963), he is a BMX rider.',
  [[], [], []],
  array(['bmx rider', 'robert lewis osborn', 'april 9, 1963'], dtype=object),
  ('BMX rider', 38103)),
 ('It airs on Travel Channel (UK) in 21 languages around the world.',
  [[],
   [23772,
    155169,
    213986,
    213991,
    213999,
    618114,
    712477,
    2198543,
    3598102,
    4630974,
    4630975,
    4630979,
    6098164,
    6983650,
    9130923,
    9130924,
    20012161,
    20856807,
    21521628,
    26273358,
    26287345,
    26404112,
    26445100,
    26452519,
    26479745,
    26495472,
    26507095,
    26509406,
    26556139,
    26576627,
    26625220,
    27057092,
    29708016,
    29711778,
    43176821,
    52351981,
    68035912,
    68036187,
    68036214,
    68036220,
    68036450,
    68036753,
    68036908,
    68036909,
    68037046,
    68037050]],
  array(['travel channel (uk)', '21'], dtype=object),
  ('Travel Channel (UK)', 5433720)),
 ('In 1889, Meland graduated from the University of Wisconsin, taught at Northwestern Business School from 1889 to 1893, and then taught school in Deerfield, Wisconsin from 1893 to 1895.',
  [[],
   [7831, 3226134, 6935807, 58738630],
   [488392, 27892728, 31635325],
   [],
   [],
   [7840, 6936021, 12681660, 13143046],
   [7844, 2810781, 10863829, 12357689, 12681667]],
  array(['deerfield, wisconsin', '1889', 'meland',
         'the university of wisconsin', 'northwestern business school',
         '1893', '1895'], dtype=object),
  ('Deerfield, Wisconsin', 260370)),
 ("'Elachista esmeralda' is a moth in the family Elachistidae.",
  [[1419417,
    1725788,
    3792262,
    4037086,
    6815307,
    6917205,
    18003215,
    18393473,
    21998230,
    35549935,
    63534377,
    63537264,
    65511920],
   [],
   [222549]],
  array(['moth', "elachista esmeralda'", 'elachistidae'], dtype=object),
  ('moth', 66633)),
 ("Corvisart was especially fond of Auenbrugg's use of chest percussion as a diagnostic tool, and began to perfect the technique.",
  [[], [950314], []],
  array(['diagnostic tool', 'corvisart', 'auenbrugg'], dtype=object),
  ('diagnostic tool', 19013767)),
 ('and secretary of the Hong Kong General Chamber of Commerce for many years.',
  [[282592], []],
  array(['hong kong general chamber of commerce', 'many years'],
        dtype=object),
  ('Hong Kong General Chamber of Commerce', 18058884))]